In [1]:
%load_ext autoreload    #### it has to appear on top of our code
%autoreload 2


import pandas as pd

url = 'https://raw.githubusercontent.com/yveness7/IronHackIvet/main/Week_2/sharkattack!/sharks.csv'

sharks_df = pd.read_csv(url)

In [2]:
sharks_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,...,"Tiger shark, 12' to 15'","Kaua'i Now, 10/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13 Oct-2023,2023.0,Questionable,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,...,NaN,CBS News. 10/13/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,...,NaN,"The Beat of Hawaii, 10/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Beachport,Swimming,Pamela Cook,F,64,...,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,...,NaN,"SF Chronicle, 10/10/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sharks_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Time', 'Species ', 'Source'],
      dtype='object')

In [4]:
sharks_df.drop("pdf", axis='columns',inplace=True)
sharks_df.drop("href formula", axis='columns',inplace=True)
sharks_df.drop("href", axis='columns',inplace=True)
sharks_df.drop("Case Number", axis='columns',inplace=True)
sharks_df.drop("Case Number.1", axis='columns',inplace=True)
sharks_df.drop("original order", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 21", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 22", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 11", axis='columns',inplace=True)

In [9]:
sharks_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Time', 'Species ', 'Source'],
      dtype='object')

In [15]:
sharks_df.columns = sharks_df.columns.str.lower() #### to change to lower, we should also apply it for the whole dataframe

In [16]:
sharks_df

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species,source
0,15 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'","Kaua'i Now, 10/15/2023"
1,13 Oct-2023,2023.0,Questionable,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,Minor linjury to left lower leg,15h45,NaN,CBS News. 10/13/2023
2,02 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,Minor injury. Shark bit surfboard,13h00,NaN,"The Beat of Hawaii, 10/2/2023"
3,01 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Beachport,Swimming,Pamela Cook,F,64,Bite to foot and leg,07h45,NaN,"B. Myatt, GSAF"
4,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,Body not recovered,10h40,NaN,"SF Chronicle, 10/10/2023"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
sharks_df.duplicated().sum()

25

In [14]:
sharks_df.tail(50)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source
6881,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,NaN,NaN,H. Capper
6882,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,NaN,FATAL,NaN,NaN,G. Van Grevelynghe
6883,No date,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,NaN,Ankle bitten,NaN,NaN,"L. Green in Tavern of the Seas, p.182"
6884,No date,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,Jaringoorli,M,NaN,Lacerations to thigh,NaN,NaN,"Adelaide Advertiser, 1/11/1940"
6885,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,NaN,"FATAL, leg severed",NaN,NaN,"L. Green in South African Beachcomber, p.97"
6886,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,NaN,NaN,"V.M. Coppleson (1958), p.241"
6887,Before 1921,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,2-inch lacerations,NaN,NaN,"T. Helm, p.219"
6888,Before 1911,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,Vũng Tàu,Swimming around anchored ship,crewman,M,NaN,Foot bitten,NaN,NaN,"Daily Kennebec Journal, 3/27/1911"
6889,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192..."
6890,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,FATAL,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192..."
6891,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",NaN,NaN,"Fijian Society papers presented April 17, 1918..."
6892,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,"""Lost leg""",NaN,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916"
6893,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",NaN,NaN,"Rural New Yorker, 7/19/1913"
6894,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",NaN,NaN,"Rural New Yorker, 7/19/1913"
6895,Before 1911,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911"
6896,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,Ankle bitten,NaN,NaN,Captain W. Young
6897,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui..."
6898,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui..."
6899,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui..."
6900,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."
6901,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6902,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6903,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6904,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN,"The Sun, 10/20/1938"
6905,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN,S.W. Baker
6906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#pd.Series(data.columns).apply(lambda col: col.lower()) #make columns lower case

In [18]:
sharks_df.dropna(how='all', inplace=True)

In [21]:
sharks_df.tail(50)

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species,source
6856,Before 1958,0.0,Unprovoked,INDIA,Maharashtra,"Malwan, near Ratnagiri",NaN,male,M,NaN,FATAL,NaN,NaN,"V.M. Coppleson (1958), p.261"
6857,Before 1957,0.0,Unprovoked,NICARAGUA,Lake Nicaragua (fresh water),A village north of San Carlos,Lashing logs together when he fell into the water,an Indian,M,NaN,"FATAL, leg severed",NaN,"Bull shark caught, leg recovered & buried besi...","F. Poli, pp.150-153"
6858,Before 1957,0.0,Provoked,CUBA,Havana Province,Cojimar,"Shark fishing, knocked overboard",Sandrillio,M,50,"FATAL, hip bitten PROVOKED INCIDENT",NaN,NaN,"F. Poli, pp.75, 81-83"
6859,Before 1956,0.0,Unprovoked,MARSHALL ISLANDS,Bikini Atoll,NaN,Swimming,male,M,NaN,Buttocks bitten,NaN,NaN,J.E. Lasch
6860,Before 1956,0.0,Unprovoked,KIRIBATI,Phoenix Islands,Canton Island,Diving,Dusty Rhodes,M,NaN,No injury,NaN,NaN,"J. Oetzel, Skin Diver Magazine, March 1956, p.19"
6861,Before Mar-1956,0.0,Unprovoked,NORTH PACIFIC OCEAN,NaN,Wake Island,"Fishing, wading with string of fish",male,M,NaN,Survived,NaN,NaN,"J. Oetzel, Skin Diver Magazine, March 1956, p.19"
6862,Before 1952,0.0,Unprovoked,KIRIBATI,Gilbert Islands,Nonouti,NaN,Gilbertese fisherman,M,NaN,FATAL,NaN,NaN,"Grimble, pp. 142-143"
6863,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,NaN,"FATAL, shark leapt into raft and bit the man w...",Late afternoon,1.2 m [4'] shark,"G.A. Llano in Airmen Against the Sea, p.69"
6864,"""During the war"" 1943-1945",0.0,Unprovoked,SOLOMON ISLANDS,New Georgia,"Munda Island, Roviana Lagoon",Floating on his back,American male,M,NaN,Buttock bitten,NaN,NaN,"W. Chapman (1949) Fishing in Troubled Waters, ..."
6865,"""Before the war""",0.0,Unprovoked,AUSTRALIA,Torres Strait,Thursday Island?,Free diving,Mortakee,M,NaN,Head bitten,NaN,NaN,Press clipping dated 6/28/1950
6866,"Said to be 1941-1945, more likely 1945",0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",Fishing in ankle-deep water,an old fisherman,M,NaN,"FATAL, foot lacerated & crushed",NaN,NaN,"Lt. Col. R.S. Hunt, pp. 80-81"
6867,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,a local dignitary,M,NaN,"FATAL, femoral artery severed, died 12 days la...",NaN,NaN,Lt. Col. R.S. Hunt of the Royal Army Medical Corp
6868,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River","Standing, washing rear wheels of his ambulance...",I.A.S. C. driver,M,NaN,"FATAL, fell into water when shark seized his r...",NaN,NaN,"Lt.Col. R.S. Hunt, p.79"
6869,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13 or 14,"FATAL, left leg bitten with severe blood loss",Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan
6870,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,NaN,"FATAL, died of sepsis",NaN,"""a black-tipped shark""",G.F. Mead
6871,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a fisherman / diver,M,NaN,Buttocks bitten,NaN,6' shark,G.F. Mead
6872,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,NaN,"Foot lacerated, surgically amputated",NaN,NaN,G.F. Mead
6873,1940-1946,0.0,Sea Disaster,PACIFIC OCEAN,NaN,NaN,NaN,"8 US airmen in the water, 1 was bitten by a shark",M,NaN,FATAL,NaN,NaN,G. Llano
6874,Before 1905,0.0,Provoked,BURMA,NaN,NaN,Carrying a supposedly dead shark by its mouth,boy,M,NaN,4 fingers severed by 'dead' shark. PROVOKED AC...,NaN,NaN,"Massillon Independent, 3/1905"
6875,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Between New Ireland & New Britain,St. George’s Channel,Spent 8 days in dinghy,pilot,M,NaN,"No injury, but shark removed the heel & part o...",NaN,NaN,"G.A. Llano in Airmen Against the Sea, p.69; V...."
6876,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",male,M,NaN,Shark bumped him,NaN,NaN,"V.M. Coppleson (1962), p.257"
6877,Before 1905,0.0,Unprovoked,BURMA,NaN,NaN,Bathing,male,M,NaN,Fatal x 2,NaN,NaN,"Massillon Independent, 3/1905"
6878,A few years before 1938,0.0,Watercraft,ITALY,Adriatic Sea,NaN,Wooden fishing boat,Occupant: Mr. Maciotta,M,NaN,No injury to occupant; shark capsized boat,NaN,White shark,A. De Maddalena; Anon. (1938)
6879,No date,0.0,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,Psarofa-gomenes,M,NaN,Head bitten,NaN,NaN,M. N. Kalafatas
6880,Early 1930s,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,16,FATAL,NaN,12' tiger shark,Mitchell-Hedges
6881,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,NaN,NaN,H. Capper
6882,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,NaN,FATAL,NaN,NaN,G. Van Grevelynghe
6883,No date,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,NaN,Ankle bitten,NaN,NaN,"L. Green in Tavern of the Seas, p.182"
6884,No date,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,Jaringoorli,M,NaN,Lacerations to thigh,NaN,NaN,"Adelaide Advertiser, 1/11/1940"
6885,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,NaN,"FATAL, leg severed",NaN,NaN,"L. Green in South African Beachcomber, p.97"
6886,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,NaN,NaN,"V.M. Coppleson (1958), p.241"
6887,Before 1921,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,2-inch lacerations,NaN,NaN,"T. Helm, p.219"
6888,Before 1911,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,Vũng Tàu,Swimming around anchored ship,crewman,M,NaN,Foot bitten,NaN,NaN,"Daily Kennebec Journal, 3/27/1911"
6889,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192..."
6890,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,FATAL,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192..."
6891,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",NaN,NaN,"Fijian Society papers presented April 17, 1918..."
6892,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,"""Lost leg""",NaN,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916"
6893,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",NaN,NaN,"Rural New Yorker, 7/19/1913"
6894,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",NaN,NaN,"Rural New Yorker, 7/19/1913"
6895,Before 1911,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911"
6896,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,Ankle bitten,NaN,NaN,Captain W. Young
6897,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui..."
6898,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui..."
6899,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui..."
6900,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."
6901,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6902,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6903,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6904,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN,"The Sun, 10/20/1938"
6905,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN,S.W. Baker

In [23]:
sharks_df.isna().sum()

date           0
year           2
type          18
country       50
state        481
location     564
activity     584
name         219
sex          579
age         2986
injury        35
time        3518
species     3120
source        19
dtype: int64

In [ ]:
#fixing gender

In [30]:
sharks_df['sex'].value_counts()

M     5552
F      768
N        3
M        2
 M       1
.        1
Name: sex, dtype: int64

In [38]:
gender_mapping = {
    'M':'M',
    'N':'N',
    'lli':'N',
    'M x 2':'M',    
    ' M':'M',
    '.':'N'
}

sharks_df['sex'] = sharks_df['sex'].replace(gender_mapping)

In [39]:
sharks_df['sex'].value_counts()

M    5555
F     768
N       4
Name: sex, dtype: int64

In [42]:
sharks_df['sex'].fillna('N',inplace=True) #fill the empty values with N = not defined

In [43]:
sharks_df['sex'].value_counts()

M    5555
F     768
N     583
Name: sex, dtype: int64

In [ ]:
#country

In [44]:
sharks_df.isna().sum()

date           0
year           2
type          18
country       50
state        481
location     564
activity     584
name         219
sex            0
age         2986
injury        35
time        3518
species     3120
source        19
dtype: int64

In [51]:
country_series = pd.read_csv(url, usecols=["Country"])
country_series.value_counts(ascending=False).head(60)

Country
USA                     2533
AUSTRALIA               1468
SOUTH AFRICA             596
NEW ZEALAND              142
PAPUA NEW GUINEA         136
BAHAMAS                  133
BRAZIL                   122
MEXICO                    99
ITALY                     72
FIJI                      67
NEW CALEDONIA             65
PHILIPPINES               63
REUNION                   60
EGYPT                     48
MOZAMBIQUE                46
SPAIN                     46
CUBA                      46
INDIA                     40
FRENCH POLYNESIA          37
JAPAN                     36
CROATIA                   35
PANAMA                    32
SOLOMON ISLANDS           30
JAMAICA                   30
IRAN                      29
ENGLAND                   25
INDONESIA                 24
HONG KONG                 24
GREECE                    24
COSTA RICA                18
PACIFIC OCEAN             17
ATLANTIC OCEAN            17
BERMUDA                   16
VIETNAM                   15
TONGA                     15
VANUATU                   14
SRI LANKA                 14
CANADA                    13
MARSHALL ISLANDS          13
FRANCE                    13
TURKEY                    12
THAILAND                  12
IRAQ                      12
SOUTH ATLANTIC OCEAN      12
ECUADOR                   11
UNITED KINGDOM            11
VENEZUELA                 11
SENEGAL                   11
KENYA                     10
MAURITIUS                 10
NEW GUINEA                10
COLUMBIA                  10
SEYCHELLES                 9
TAIWAN                     9
CHINA                      9
SAMOA                      9
SIERRA LEONE               8
TANZANIA                   8
ISRAEL                     8
CHILE                      8
dtype: int64

In [46]:
sharks_df['country'].value_counts()

USA                               2533
AUSTRALIA                         1468
SOUTH AFRICA                       596
NEW ZEALAND                        142
PAPUA NEW GUINEA                   136
                                  ...
ADMIRALTY ISLANDS                    1
FEDERATED STATES OF MICRONESIA       1
South Africa                         1
RED SEA                              1
CEYLON (SRI LANKA)                   1
Name: country, Length: 223, dtype: int64

In [47]:
sharks_df['country'] = sharks_df['country'].str.lower()

In [48]:
sharks_df['country']

0                      usa
1                      usa
2                      usa
3                australia
4                      usa
               ...
6901             australia
6902             australia
6903                   usa
6904                panama
6905    ceylon (sri lanka)
Name: country, Length: 6906, dtype: object

In [50]:
sharks_df['country'].value_counts(20)

usa                               0.369457
australia                         0.214119
south africa                      0.087077
new zealand                       0.020858
papua new guinea                  0.019837
                                    ...
red sea / indian ocean            0.000146
british west indies               0.000146
admiralty islands                 0.000146
federated states of micronesia    0.000146
ceylon (sri lanka)                0.000146
Name: country, Length: 216, dtype: float64

In [52]:
sharks_df['country'].duplicated().sum()

6689

In [ ]:
sharks_df['href formula'].nunique()

In [ ]:
sharks_df.isna().any()

In [ ]:
sharks_df.isna().sum()

In [ ]:
sharks_df['href formula'].isnull()

In [ ]:
sharks_df['href formula'].value_counts(-50)

In [ ]:
sharks_df['pdf'].nunique()

In [ ]:
sharks_df['pdf'].isnull()

In [ ]:
sharks_df['pdf'].value_counts(50)

In [ ]:
gender_series = pd.read_csv(url, usecols=["Sex"])
gender_series

In [ ]:
gender_series.value_counts(normalize=True, ascending=False).head(20)

In [ ]:
sharks_df.shape

In [ ]:
sharks_df.info()

In [ ]:
sharks_df.nunique()

In [ ]:
list(sharks_df.columns)

In [ ]:
location_series = pd.read_csv(url, usecols=["Location"])
location_series

In [ ]:
location_series.value_counts(ascending=False).head(60)

In [ ]:
activity_series = pd.read_csv(url, usecols=["Activity"])
activity_series

In [ ]:
activity_series.value_counts(ascending=False).head(60)

In [ ]:
time_series = pd.read_csv(url, usecols=["Time"])
time_series

In [ ]:
time_series.value_counts(ascending=False).head(60)

In [ ]:
age_series = pd.read_csv(url, usecols=["Age"])
age_series

In [ ]:
age_series.value_counts(normalize=True,ascending=False).head(60)

In [ ]:
country_series = pd.read_csv(url, usecols=["Country"])
country_series.value_counts(ascending=False).head(60)

In [ ]:
country_series.value_counts(normalize=True,ascending=False).head(60)

In [ ]:
injury_series = pd.read_csv(url, usecols=["Injury"])
injury_series.value_counts(ascending=False).head(60)

In [ ]:
sharks_df[["Activity", "Injury"]].head(60)