In [29]:
import pandas as pd

url = 'https://raw.githubusercontent.com/yveness7/IronHackIvet/main/Week_2/sharkattack!/sharks.csv'

sharks_df = pd.read_csv(url)

In [30]:
sharks_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [31]:
sharks_df.drop("pdf", axis='columns',inplace=True)
sharks_df.drop("href formula", axis='columns',inplace=True)
sharks_df.drop("href", axis='columns',inplace=True)
sharks_df.drop("Case Number", axis='columns',inplace=True)
sharks_df.drop("Case Number.1", axis='columns',inplace=True)
sharks_df.drop("original order", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 21", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 22", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 11", axis='columns',inplace=True)

In [32]:
sharks_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Time', 'Species ', 'Source'],
      dtype='object')

In [35]:
sharks_df.columns = ['date', 'year', 'type', 'country', 'state', 'location', 'activity','name', 'sex', 'age', 'injury', 'time', 'species ', 'source']
sharks_df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'time', 'species ', 'source'],
      dtype='object')

In [36]:
sharks_df

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species,source
0,15 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'","Kaua'i Now, 10/15/2023"
1,13 Oct-2023,2023.0,Questionable,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,Minor linjury to left lower leg,15h45,NaN,CBS News. 10/13/2023
2,02 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,Minor injury. Shark bit surfboard,13h00,NaN,"The Beat of Hawaii, 10/2/2023"
3,01 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Beachport,Swimming,Pamela Cook,F,64,Bite to foot and leg,07h45,NaN,"B. Myatt, GSAF"
4,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,Body not recovered,10h40,NaN,"SF Chronicle, 10/10/2023"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
sharks_df['href formula'].nunique()

6785

In [14]:
sharks_df.isna().any()

Date              True
Year              True
Type              True
Country           True
State             True
Location          True
Activity          True
Name              True
Sex               True
Age               True
Injury            True
Unnamed: 11       True
Time              True
Species           True
Source            True
pdf               True
href formula      True
href              True
Case Number       True
Case Number.1     True
original order    True
Unnamed: 21       True
Unnamed: 22       True
dtype: bool

In [15]:
sharks_df.isna().sum()

Date                25
Year                27
Type                43
Country             75
State              506
Location           589
Activity           609
Name               244
Sex                604
Age               3011
Injury              60
Unnamed: 11        587
Time              3543
Species           3145
Source              44
pdf                132
href formula       112
href               135
Case Number        133
Case Number.1      134
original order     132
Unnamed: 21       6930
Unnamed: 22       6929
dtype: int64

In [10]:
sharks_df['href formula'].isnull()

0        True
1        True
2        True
3        True
4        True
        ...
6926    False
6927    False
6928    False
6929    False
6930    False
Name: href formula, Length: 6931, dtype: bool

In [13]:
sharks_df['href formula'].value_counts(-50)

http://sharkattackfile.net/spreadsheets/pdf_directory/                                       0.003666
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf      0.000293
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf              0.000293
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf      0.000293
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    0.000293
                                                                                               ...
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.15-Venezuela.pdf               0.000147
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.18-PatrickAFB.pdf              0.000147
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.19-SD.pdf                      0.000147
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.20.a-StephenFlowers.pdf        0.000147
http://sharkattackfile.net/spreadsheets/pdf_directory/1983.10.17.a-Kalein.pdf                0.000147
Name: href formula, Length: 6785, dtype: float64

In [5]:
sharks_df['pdf'].nunique()

6789

In [6]:
sharks_df['pdf'].isnull()

0       True
1       True
2       True
3       True
4       True
        ...
6926    True
6927    True
6928    True
6929    True
6930    True
Name: pdf, Length: 6931, dtype: bool

In [8]:
sharks_df['pdf'].value_counts(50)

1907.10.16.R-HongKong.pdf            0.000294
1921.11.27.a-b-Jack.pdf              0.000294
1935.06.05.R-SolomonIslands.pdf      0.000294
1916.12.08.a-b-German.pdf            0.000294
1929.03.04.a-b.Roads-Aldridge.pdf    0.000294
                                       ...
2003.04.19-SD.pdf                    0.000147
2003.04.20.a-StephenFlowers.pdf      0.000147
2003.04.20.b-Albright.pdf            0.000147
2003.04.20.c-Ryan.pdf                0.000147
ND-0001-Ceylon.pdf                   0.000147
Name: pdf, Length: 6789, dtype: float64

In [ ]:
gender_series = pd.read_csv(url, usecols=["Sex"])
gender_series

In [ ]:
gender_series.value_counts(normalize=True, ascending=False).head(20)

In [ ]:
sharks_df.shape

In [ ]:
sharks_df.info()

In [ ]:
sharks_df.nunique()

In [17]:
list(sharks_df.columns)

['Date',
 'Year',
 'Type',
 'Country',
 'State',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Unnamed: 11',
 'Time',
 'Species ',
 'Source',
 'href formula',
 'href',
 'Case Number',
 'Case Number.1',
 'original order',
 'Unnamed: 21',
 'Unnamed: 22']

In [ ]:
location_series = pd.read_csv(url, usecols=["Location"])
location_series

In [ ]:
location_series.value_counts(ascending=False).head(60)

In [ ]:
activity_series = pd.read_csv(url, usecols=["Activity"])
activity_series

In [ ]:
activity_series.value_counts(ascending=False).head(60)

In [ ]:
time_series = pd.read_csv(url, usecols=["Time"])
time_series

In [ ]:
time_series.value_counts(ascending=False).head(60)

In [ ]:
age_series = pd.read_csv(url, usecols=["Age"])
age_series

In [ ]:
age_series.value_counts(normalize=True,ascending=False).head(60)

In [ ]:
country_series = pd.read_csv(url, usecols=["Country"])
country_series.value_counts(ascending=False).head(60)

In [ ]:
country_series.value_counts(normalize=True,ascending=False).head(60)

In [ ]:
injury_series = pd.read_csv(url, usecols=["Injury"])
injury_series.value_counts(ascending=False).head(60)

In [ ]:
sharks_df[["Activity", "Injury"]].head(60)