In [50]:
#%load_ext autoreload    #### it has to appear on top of our code
#%autoreload 2


import pandas as pd

url = 'https://raw.githubusercontent.com/yveness7/IronHackIvet/main/Week_2/sharkattack!/sharks.csv'

sharks_df = pd.read_csv(url)

In [51]:
sharks_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,...,"Tiger shark, 12' to 15'","Kaua'i Now, 10/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13 Oct-2023,2023.0,Questionable,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,...,NaN,CBS News. 10/13/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,...,NaN,"The Beat of Hawaii, 10/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Beachport,Swimming,Pamela Cook,F,64,...,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,...,NaN,"SF Chronicle, 10/10/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
sharks_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [53]:
sharks_df.drop("pdf", axis='columns',inplace=True)
sharks_df.drop("href formula", axis='columns',inplace=True)
sharks_df.drop("href", axis='columns',inplace=True)
sharks_df.drop("Case Number", axis='columns',inplace=True)
sharks_df.drop("Case Number.1", axis='columns',inplace=True)
sharks_df.drop("original order", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 21", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 22", axis='columns',inplace=True)
sharks_df.drop("Unnamed: 11", axis='columns',inplace=True)
sharks_df.drop("Source", axis='columns',inplace=True)

In [54]:
sharks_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Time', 'Species '],
      dtype='object')

In [55]:
sharks_df.columns = sharks_df.columns.str.lower() #### to change to lower, we should also apply it for the whole dataframe

In [56]:
sharks_df

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species
0,15 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,Questionable,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Beachport,Swimming,Pamela Cook,F,64,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
sharks_df.duplicated().sum()

26

In [58]:
sharks_df.tail(50)

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species
6881,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,NaN,NaN
6882,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,NaN,FATAL,NaN,NaN
6883,No date,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,NaN,Ankle bitten,NaN,NaN
6884,No date,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,Jaringoorli,M,NaN,Lacerations to thigh,NaN,NaN
6885,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,NaN,"FATAL, leg severed",NaN,NaN
6886,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,NaN,NaN
6887,Before 1921,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,2-inch lacerations,NaN,NaN
6888,Before 1911,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,Vũng Tàu,Swimming around anchored ship,crewman,M,NaN,Foot bitten,NaN,NaN
6889,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,NaN,NaN
6890,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,FATAL,NaN,NaN
6891,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",NaN,NaN
6892,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,"""Lost leg""",NaN,NaN
6893,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",NaN,NaN
6894,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",NaN,NaN
6895,Before 1911,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,NaN,NaN
6896,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,Ankle bitten,NaN,NaN
6897,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",NaN,Blue pointer
6898,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,NaN,Blue pointer
6899,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,NaN,Blue pointers
6900,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,NaN,Said to involve a grey nurse shark that leapt ...
6901,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN
6902,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN
6903,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN
6904,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN
6905,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN
6906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
#pd.Series(data.columns).apply(lambda col: col.lower()) #make columns lower case

In [60]:
sharks_df.dropna(how='all', inplace=True)

In [61]:
sharks_df.tail(50)

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species
6856,Before 1958,0.0,Unprovoked,INDIA,Maharashtra,"Malwan, near Ratnagiri",NaN,male,M,NaN,FATAL,NaN,NaN
6857,Before 1957,0.0,Unprovoked,NICARAGUA,Lake Nicaragua (fresh water),A village north of San Carlos,Lashing logs together when he fell into the water,an Indian,M,NaN,"FATAL, leg severed",NaN,"Bull shark caught, leg recovered & buried besi..."
6858,Before 1957,0.0,Provoked,CUBA,Havana Province,Cojimar,"Shark fishing, knocked overboard",Sandrillio,M,50,"FATAL, hip bitten PROVOKED INCIDENT",NaN,NaN
6859,Before 1956,0.0,Unprovoked,MARSHALL ISLANDS,Bikini Atoll,NaN,Swimming,male,M,NaN,Buttocks bitten,NaN,NaN
6860,Before 1956,0.0,Unprovoked,KIRIBATI,Phoenix Islands,Canton Island,Diving,Dusty Rhodes,M,NaN,No injury,NaN,NaN
6861,Before Mar-1956,0.0,Unprovoked,NORTH PACIFIC OCEAN,NaN,Wake Island,"Fishing, wading with string of fish",male,M,NaN,Survived,NaN,NaN
6862,Before 1952,0.0,Unprovoked,KIRIBATI,Gilbert Islands,Nonouti,NaN,Gilbertese fisherman,M,NaN,FATAL,NaN,NaN
6863,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,NaN,"FATAL, shark leapt into raft and bit the man w...",Late afternoon,1.2 m [4'] shark
6864,"""During the war"" 1943-1945",0.0,Unprovoked,SOLOMON ISLANDS,New Georgia,"Munda Island, Roviana Lagoon",Floating on his back,American male,M,NaN,Buttock bitten,NaN,NaN
6865,"""Before the war""",0.0,Unprovoked,AUSTRALIA,Torres Strait,Thursday Island?,Free diving,Mortakee,M,NaN,Head bitten,NaN,NaN
6866,"Said to be 1941-1945, more likely 1945",0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",Fishing in ankle-deep water,an old fisherman,M,NaN,"FATAL, foot lacerated & crushed",NaN,NaN
6867,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,a local dignitary,M,NaN,"FATAL, femoral artery severed, died 12 days la...",NaN,NaN
6868,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River","Standing, washing rear wheels of his ambulance...",I.A.S. C. driver,M,NaN,"FATAL, fell into water when shark seized his r...",NaN,NaN
6869,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13 or 14,"FATAL, left leg bitten with severe blood loss",Afternoon,Bull shark
6870,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,NaN,"FATAL, died of sepsis",NaN,"""a black-tipped shark"""
6871,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a fisherman / diver,M,NaN,Buttocks bitten,NaN,6' shark
6872,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,NaN,"Foot lacerated, surgically amputated",NaN,NaN
6873,1940-1946,0.0,Sea Disaster,PACIFIC OCEAN,NaN,NaN,NaN,"8 US airmen in the water, 1 was bitten by a shark",M,NaN,FATAL,NaN,NaN
6874,Before 1905,0.0,Provoked,BURMA,NaN,NaN,Carrying a supposedly dead shark by its mouth,boy,M,NaN,4 fingers severed by 'dead' shark. PROVOKED AC...,NaN,NaN
6875,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Between New Ireland & New Britain,St. George’s Channel,Spent 8 days in dinghy,pilot,M,NaN,"No injury, but shark removed the heel & part o...",NaN,NaN
6876,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",male,M,NaN,Shark bumped him,NaN,NaN
6877,Before 1905,0.0,Unprovoked,BURMA,NaN,NaN,Bathing,male,M,NaN,Fatal x 2,NaN,NaN
6878,A few years before 1938,0.0,Watercraft,ITALY,Adriatic Sea,NaN,Wooden fishing boat,Occupant: Mr. Maciotta,M,NaN,No injury to occupant; shark capsized boat,NaN,White shark
6879,No date,0.0,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,Psarofa-gomenes,M,NaN,Head bitten,NaN,NaN
6880,Early 1930s,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,16,FATAL,NaN,12' tiger shark
6881,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,NaN,NaN
6882,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,NaN,FATAL,NaN,NaN
6883,No date,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,NaN,Ankle bitten,NaN,NaN
6884,No date,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,Jaringoorli,M,NaN,Lacerations to thigh,NaN,NaN
6885,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,NaN,"FATAL, leg severed",NaN,NaN
6886,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,NaN,NaN
6887,Before 1921,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,2-inch lacerations,NaN,NaN
6888,Before 1911,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,Vũng Tàu,Swimming around anchored ship,crewman,M,NaN,Foot bitten,NaN,NaN
6889,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,NaN,NaN
6890,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,FATAL,NaN,NaN
6891,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",NaN,NaN
6892,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,"""Lost leg""",NaN,NaN
6893,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",NaN,NaN
6894,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",NaN,NaN
6895,Before 1911,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,NaN,NaN
6896,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,Ankle bitten,NaN,NaN
6897,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",NaN,Blue pointer
6898,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,NaN,Blue pointer
6899,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,NaN,Blue pointers
6900,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,NaN,Said to involve a grey nurse shark that leapt ...
6901,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN
6902,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN
6903,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN
6904,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN
6905,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN

In [62]:
sharks_df.isna().sum()

date           0
year           2
type          18
country       50
state        481
location     564
activity     584
name         219
sex          579
age         2986
injury        35
time        3518
species     3120
dtype: int64

In [63]:
#fixing gender

In [64]:
sharks_df['sex'].value_counts()

M        5551
F         768
M           2
N           2
 M          1
lli         1
M x 2       1
.           1
Name: sex, dtype: int64

In [66]:
gender_mapping = {
    'M':'M',
    'N':'N',
    'lli':'N',
    'M x 2':'M',    
    ' M':'M',
    '.':'N',
    'M ':'M'
}

sharks_df['sex'] = sharks_df['sex'].replace(gender_mapping)

In [85]:
sharks_df['sex'].value_counts()

M    5555
F     768
N     583
Name: sex, dtype: int64

In [86]:
sharks_df['sex'].fillna('N',inplace=True) #fill the empty values with N = not defined

In [87]:
sharks_df['sex'].value_counts()

M    5555
F     768
N     583
Name: sex, dtype: int64

In [88]:
#country

In [89]:
sharks_df.isna().sum()

date           0
year           2
type           0
country        0
state        481
location     564
activity     584
name         219
sex            0
age         2986
injury        35
time        3518
species     3120
dtype: int64

In [90]:
country_series = pd.read_csv(url, usecols=["Country"])
country_series.value_counts(ascending=False).head(60)

Country
USA                     2533
AUSTRALIA               1468
SOUTH AFRICA             596
NEW ZEALAND              142
PAPUA NEW GUINEA         136
BAHAMAS                  133
BRAZIL                   122
MEXICO                    99
ITALY                     72
FIJI                      67
NEW CALEDONIA             65
PHILIPPINES               63
REUNION                   60
EGYPT                     48
MOZAMBIQUE                46
SPAIN                     46
CUBA                      46
INDIA                     40
FRENCH POLYNESIA          37
JAPAN                     36
CROATIA                   35
PANAMA                    32
SOLOMON ISLANDS           30
JAMAICA                   30
IRAN                      29
ENGLAND                   25
INDONESIA                 24
HONG KONG                 24
GREECE                    24
COSTA RICA                18
PACIFIC OCEAN             17
ATLANTIC OCEAN            17
BERMUDA                   16
VIETNAM                   15
TONGA                     15
VANUATU                   14
SRI LANKA                 14
CANADA                    13
MARSHALL ISLANDS          13
FRANCE                    13
TURKEY                    12
THAILAND                  12
IRAQ                      12
SOUTH ATLANTIC OCEAN      12
ECUADOR                   11
UNITED KINGDOM            11
VENEZUELA                 11
SENEGAL                   11
KENYA                     10
MAURITIUS                 10
NEW GUINEA                10
COLUMBIA                  10
SEYCHELLES                 9
TAIWAN                     9
CHINA                      9
SAMOA                      9
SIERRA LEONE               8
TANZANIA                   8
ISRAEL                     8
CHILE                      8
dtype: int64

In [91]:
sharks_df['country'].value_counts()

usa                      2533
australia                1468
south africa              597
new zealand               143
papua new guinea          136
                         ...
gulf of aden                1
sudan?                      1
the balkans                 1
north atlantic ocean        1
ceylon (sri lanka)          1
Name: country, Length: 217, dtype: int64

In [92]:
sharks_df['country'] = sharks_df['country'].str.lower()

In [93]:
sharks_df['country']

0                      usa
1                      usa
2                      usa
3                australia
4                      usa
               ...
6901             australia
6902             australia
6903                   usa
6904                panama
6905    ceylon (sri lanka)
Name: country, Length: 6906, dtype: object

In [94]:
sharks_df['country'].value_counts(20)

usa                      0.366783
australia                0.212569
south africa             0.086447
new zealand              0.020707
papua new guinea         0.019693
                           ...
gulf of aden             0.000145
sudan?                   0.000145
the balkans              0.000145
north atlantic ocean     0.000145
ceylon (sri lanka)       0.000145
Name: country, Length: 217, dtype: float64

In [95]:
sharks_df['country'].isna().sum()

0

In [96]:
sharks_df['country'].fillna('N',inplace=True)
sharks_df['country'].isna().sum()

0

In [97]:
sharks_df['country'].isna().sum()

0

In [98]:
sharks_df

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species
0,15 Oct-2023,2023.0,Unprovoked,usa,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,Questionable,usa,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,Unprovoked,usa,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,Unprovoked,australia,South Australia,Beachport,Swimming,Pamela Cook,F,64,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,Unprovoked,usa,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6901,Before 1903,0.0,Unprovoked,australia,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN
6902,Before 1903,0.0,Unprovoked,australia,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN
6903,1900-1905,0.0,Unprovoked,usa,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN
6904,1883-1889,0.0,Unprovoked,panama,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN
6905,1845-1853,0.0,Unprovoked,ceylon (sri lanka),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN

In [99]:
sharks_df['type']

0         Unprovoked
1       Questionable
2         Unprovoked
3         Unprovoked
4         Unprovoked
            ...
6901      Unprovoked
6902      Unprovoked
6903      Unprovoked
6904      Unprovoked
6905      Unprovoked
Name: type, Length: 6906, dtype: object

In [100]:
sharks_df['type'].isna().sum()

0

In [101]:
sharks_df['type'].fillna('N',inplace=True)

In [102]:
sharks_df['type'].isna().sum()

0

In [103]:
#replacing null with N
sharks_df['country'].fillna('N',inplace=True)

In [104]:
sharks_df.isna().sum()

date           0
year           2
type           0
country        0
state        481
location     564
activity     584
name         219
sex            0
age         2986
injury        35
time        3518
species     3120
dtype: int64

In [105]:
sharks_df['state'].fillna('N',inplace=True)
sharks_df['state'].isna().sum()

0

In [106]:
sharks_df.isna().sum()

date           0
year           2
type           0
country        0
state          0
location     564
activity     584
name         219
sex            0
age         2986
injury        35
time        3518
species     3120
dtype: int64

In [107]:
sharks_df['location'].fillna('N',inplace=True)
sharks_df['injury'].fillna('N',inplace=True)
sharks_df['year'].fillna('N',inplace=True)
sharks_df['name'].fillna('N',inplace=True)
sharks_df['activity'].fillna('N',inplace=True)
sharks_df['time'].fillna('N',inplace=True)
sharks_df['age'].fillna('N',inplace=True)

sharks_df.isna().sum()

date           0
year           0
type           0
country        0
state          0
location       0
activity       0
name           0
sex            0
age            0
injury         0
time           0
species     3120
dtype: int64

In [109]:
sharks_df

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species
0,15 Oct-2023,2023.0,Unprovoked,usa,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,Questionable,usa,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,Unprovoked,usa,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,Unprovoked,australia,South Australia,Beachport,Swimming,Pamela Cook,F,64,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,Unprovoked,usa,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6901,Before 1903,0.0,Unprovoked,australia,Western Australia,Roebuck Bay,Diving,male,M,N,FATAL,N,NaN
6902,Before 1903,0.0,Unprovoked,australia,Western Australia,N,Pearl diving,Ahmun,M,N,FATAL,N,NaN
6903,1900-1905,0.0,Unprovoked,usa,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,N,FATAL,N,NaN
6904,1883-1889,0.0,Unprovoked,panama,N,"Panama Bay 8ºN, 79ºW",N,Jules Patterson,M,N,FATAL,N,NaN
6905,1845-1853,0.0,Unprovoked,ceylon (sri lanka),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",N,NaN

In [110]:
sharks_df['age'].value_counts(20)

N           0.432378
17          0.024906
18          0.022734
15          0.022299
19          0.021720
              ...
 30         0.000145
23 & 20     0.000145
mid-30s     0.000145
33 or 37    0.000145
13 or 14    0.000145
Name: age, Length: 170, dtype: float64

In [111]:
age_series = sharks_df["age"]
age_series.value_counts(ascending=False)

N           2986
17           172
18           157
15           154
19           150
            ...
 30            1
23 & 20        1
mid-30s        1
33 or 37       1
13 or 14       1
Name: age, Length: 170, dtype: int64

In [112]:
attack_series = sharks_df["type"]
attack_series.value_counts(ascending=False)

Unprovoked             5077
Provoked                632
Invalid                 552
Watercraft              354
Sea Disaster            242
Questionable             20
N                        18
Boat                      7
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: type, dtype: int64

In [113]:
#fix the data here and make it one

In [114]:
activity_mapping = {
    'Invalid':'Unconfirmed',
    'Questionable':'Unconfirmed',
    'Sea Disaster':'Unconfirmed',
    'Unconfirmed':'Unconfirmed',    
    'N':'Unconfirmed',
    'Unverified':'Unconfirmed',
    'Under investigation':'Unconfirmed',
    '?':'Unconfirmed',
    'Boat':'Watercraft',
    'Watercraft':'Watercraft'
    
}

sharks_df['type'] = sharks_df['type'].replace(activity_mapping)

In [116]:
sharks_df['type'].value_counts()

Unprovoked     5077
Unconfirmed     836
Provoked        632
Watercraft      361
Name: type, dtype: int64

In [117]:
#injuries

In [118]:
injuries_series = sharks_df["injury"]
injuries_series.value_counts(ascending=False).head(50)

FATAL                             851
Foot bitten                       100
Survived                           97
No injury                          85
Leg bitten                         79
Left foot bitten                   53
No details                         43
Right foot bitten                  41
N                                  35
No injury, board bitten            35
Hand bitten                        33
Thigh bitten                       27
Calf bitten                        26
Lacerations to foot                26
FATAL, body not recovered          24
Arm bitten                         24
Minor injury                       24
Right leg bitten                   24
Lacerations to left foot           22
Foot lacerated                     21
Lacerations to right foot          20
Ankle bitten                       20
Minor injuries                     18
Leg injured                        17
Right calf bitten                  17
No injury, surfboard bitten        16
No injury to occupants             15
Left leg bitten                    15
Lacerations to leg                 15
Left arm bitten                    15
Heel bitten                        14
Foot severed                       13
No injury, kayak bitten            13
Laceration to leg                  13
Lacerations to lower leg           13
Leg severed                        13
Leg lacerated                      12
Right thigh bitten                 12
Left calf bitten                   11
Minor injury to foot               11
Lacerations to right hand          11
FATAL, leg severed                 11
Legs bitten                        10
Laceration to left foot            10
Thigh lacerated                    10
Left hand bitten                   10
Lacerations to right leg           10
Puncture wounds to foot            10
Lacerations to left calf            9
Probable drowning & scavenging      9
Name: injury, dtype: int64

In [49]:




injury_mapping = {   # injury_mapping = injury_mapping(lambda x : 'Injury' for x in sharks_df['type']
                        #if x==str else x
    'FATAL':'Fatal',
    'Survived':'Survived',
    'Foot bitten':'Injury',
    'No injury, board bitten':'No injury',    
    'Leg bitten':'Injury',
    'No details':'No details',
    'Right foot bitten':'Injury',
    'No injury':'No injury',
    'Hand bitten':'Injury',
    'Thigh bitten':'Injury',
    'Calf bitten':'Injury',
    'Lacerations to foot':'Injury',
    'Minor injury':'Injury'               
    'FATAL, body not recovered':'Injury',       
    'Arm bitten':'Injury',                      
    'Right leg bitten':'Injury',               
    'Lacerations to left foot': 'Injury',       
'Foot lacerated':'Injury'                
Ankle bitten                    
Lacerations to right foot      
Minor injuries                  
Leg injured                     
Right calf bitten               
No injury, surfboard bitten     
Lacerations to leg              
Left arm bitten                 
Left leg bitten                 
No injury to occupants          
Heel bitten                     
Foot severed                    
Leg severed                     
No injury, kayak bitten         
Lacerations to lower leg        
Laceration to leg               
Leg lacerated                   
Right thigh bitten              
FATAL, leg severed              
Minor injury to foot            11
Lacerations to right hand       11
Left calf bitten                11
Legs bitten                     10
Left hand bitten                10
Thigh lacerated                 10
Laceration to left foot         10
Puncture wounds to foot         10
Lacerations to right leg        10
Left foot lacerated              9
Right foot lacerated             9
Knee bitten                      9
    
}

sharks_df['type'] = sharks_df['type'].replace(activity_mapping)

SyntaxError: invalid syntax (1198224232.py, line 16)

In [119]:
#fatal_lambda = lambda x:'Fatal' if isinstance(x, str) and any(keyword in x for keyword in ['FATAL',
                                                                                   'wounds',
                                                                                   'Lacerations',
                                                                                   'lacerated',
                                                                                   'injury',
                                                                                   'injuries',
                                                                                   'Left',
                                                                                   'Legs',
                                                                                           
                                                                                           
                                                                                   'bitten']) else x

IndentationError: unexpected indent (457752651.py, line 2)

In [135]:



injuries_lambda = lambda x:'Injury' if isinstance(x, str) and any(keyword in x for keyword in ['foot',
                                                                                   'wounds','bitten',
                                                                                   'Lacerations',
                                                                                    'Lacerations','Laceration',
                                                                                    'Abrasions','thigh',
                                                                                    'Injury','Bitten',    
                                                                                   'lacerated',
                                                                                   'injury',
                                                                                    'injured',
                                                                                   'injuries',
                                                                                   'Left','Abrasion',
                                                                                   'Legs',
                                                                                    'Foot',
                                                                                    'drowning',
                                                                                    'leg',
                                                                                    'Leg', 
                                                                                    'severed',
                                                                                   'bitten']) else x


sharks_df['injury'] = sharks_df['injury'].apply(injuries_lambda)

In [134]:
injuries_series = sharks_df["injury"]
injuries_series.value_counts(ascending=False).head(50)

Injury                                                                         4891
FATAL                                                                           851
Survived                                                                         97
No details                                                                       43
N                                                                                35
FATAL, body not recovered                                                        24
FATAL                                                                             8
FATAL x 2                                                                         6
PROVOKED INCIDENT                                                                 6
Fatal                                                                             5
Shark involvement prior to death unconfirmed                                      5
Recovered                                                                         4
FATAL, body was not recovered                                                     4
Presumed FATAL                                                                    4
FATAL, PROVOKED INCIDENT                                                          4
Human remains found in shark                                                      4
FATAL, but shark involvement prior to death unconfirmed                           3
Missing, believed taken by a shark                                                3
Non-fatal                                                                         3
FATAL, multiple bites                                                             3
Shark bites were post-mortem                                                      3
Presumed FATAL, body not recovered                                                3
Shark involvement prior to death not confirmed                                    3
Shark involvement not confirmed                                                   3
Shark involvement prior to death was not confirmed                                3
Disappeared, but shark involvement unconfirmed                                    2
Minor bite to ankle                                                               2
Thought to have been taken by a shark. Body was not recovered                     2
Minor laceration to hand                                                          2
FATAL PROVOKED INCIDENT                                                           2
Missing, thought to have been taken by a shark                                    2
Unknown                                                                           2
FATAL, some were taken by sharks                                                  2
FATAL?                                                                            2
Thought to have been taken by a shark                                             2
Drowned, body scavenged by shark                                                  2
Bitten by harpooned shark PROVOKED INCIDENT                                       2
2-inch laceration to upper left arm                                               2
Hooked shark bit boat PROVOKED INCIDENT                                           2
FATAL                                                                             2
Severe lacerations to left hand                                                   2
Shark bites may have been post mortem                                             2
Severe lacerations to arm                                                         2
FATAL, but shark involvement prior to death was not confirmed                     2
FATAL,  beaten & thrown overboard by smugglers, they  were killed by sharks       2
Thigh gashed                                                                      2
Puncture wound to calf                                                            2
Minor lacerations to left calf                                                    2
Recorded as PROVOKED INCIDENT                                                     2
No inury to occupants, shark struck boat                                          2
Name: injury, dtype: int64

In [ ]:
#randoms

In [ ]:
sharks_df['href formula'].nunique()

In [ ]:
sharks_df.isna().any()

In [ ]:
sharks_df.isna().sum()

In [ ]:
sharks_df['href formula'].isnull()

In [ ]:
sharks_df['href formula'].value_counts(-50)

In [ ]:
sharks_df['pdf'].nunique()

In [ ]:
sharks_df['pdf'].isnull()

In [ ]:
sharks_df['pdf'].value_counts(50)

In [ ]:
gender_series = pd.read_csv(url, usecols=["Sex"])
gender_series

In [ ]:
gender_series.value_counts(normalize=True, ascending=False).head(20)

In [ ]:
sharks_df.shape

In [ ]:
sharks_df.info()

In [ ]:
sharks_df.nunique()

In [ ]:
list(sharks_df.columns)

In [ ]:
location_series = pd.read_csv(url, usecols=["Location"])
location_series

In [ ]:
location_series.value_counts(ascending=False).head(60)

In [ ]:
activity_series = pd.read_csv(url, usecols=["Activity"])
activity_series

In [ ]:
activity_series.value_counts(ascending=False).head(60)

In [ ]:
time_series = pd.read_csv(url, usecols=["Time"])
time_series

In [ ]:
time_series.value_counts(ascending=False).head(60)

In [ ]:
age_series = pd.read_csv(url, usecols=["Age"])
age_series

In [ ]:
age_series.value_counts(normalize=True,ascending=False).head(60)

In [ ]:
country_series = pd.read_csv(url, usecols=["Country"])
country_series.value_counts(ascending=False).head(60)

In [ ]:
country_series.value_counts(normalize=True,ascending=False).head(60)

In [ ]:
injury_series = pd.read_csv(url, usecols=["Injury"])
injury_series.value_counts(ascending=False).head(60)

In [ ]:
sharks_df[["Activity", "Injury"]].head(60)